@model PersonalPortfolio.Models.RegisterVM
@{
    ViewBag.Title = "Register";
    ViewBag.Style = "li#register-page{display: inline;}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<h2>Register</h2>

@using (Html.BeginForm("Register", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @id="register-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "calendar" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.Message</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "calendar" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    if (Session["Captcha"] != null)
    {
        if ((string)Session["Captcha"] == "true")
        {
            <div class="g-recaptcha col-md-offset-2" style="margin-bottom:1em;" data-sitekey="6Lf90SITAAAAAPwqBB2muzMsjcz3rLxnj0YvrgUN"></div>
            <div class="col-md-offset-2 text-danger">@Html.Raw(ViewBag.Captcha)</div>
        }
     }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span id="register-button" class="btn btn-primary">Register</span>
            </div>
        </div>
}
<br />
<p>
    @Html.ActionLink("Return to Portfolio", "Index", "Home")
</p>
<script>
    window.onload = function () {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js";

        // Then bind the event to the callback function.
        // There are several events for cross browser compatibility.
        script.onreadystatechange = jQueryReady;
        script.onload = jQueryReady;
        script.async = true;
        // Fire the loading
        head.appendChild(script);
    }
    function jQueryReady() {
        $('.page-links').removeClass('active');
        $('#register-page').addClass('active');
        $('#register-button').click(function () {
            $('#register-form').submit();
        });
        // load bootstrap Readable font
        $('<link>').appendTo('head').attr({ type: 'text/css', rel: 'stylesheet' }).attr('href', 'https://fonts.googleapis.com/css?family=Raleway:400,700');
        $.getScript("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");
        $.getScript("https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js");
    }   
</script>